main {
  width: 400px;
  height: 100%;
  margin: 20px;
  background-color: pink;
}

form {
  padding: 5px 10px 0 1px;
}

input {
  border-style: none;
}

fieldset {
  border-style: none;
  position: relative;
}

li {
  list-style: none;
}

li input {
  right: 0;
  position: absolute;
}

.info {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  margin: 2px 0;
  border-radius: 5px;
}
