main {
  width: 400px;
  height: 100%;
  margin: 20px;
  background-color: pink;
}

form {
  padding: 5px 10px 0 1px;
}

input {
  border-style: none;
}

fieldset {
  border-style: none;
}

ol {
  padding: 0;
}

li {
  list-style: none;
  padding: 5px 0;
  margin: 5px 0;
  border-radius: 5px;
  background-color: white;
  position: relative;
}
li label {
  margin-left: 10px;
}
li input {
  text-align: center;
  position: absolute;
  right: 0;
}

fieldset button {
  border-style: none;
  color: white;
  background-color: palevioletred;
  width: 70px;
  height: 30px;
  border-radius: 15px;
}
.info {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  margin: 2px 0;
  border-radius: 5px;
}
